/*--测试用 ↓↓↓--*/

.bgc-peru{
    background-color:peru
}

.bgc-seagreen{
    background-color:seagreen
}

.bgc-red{
    background-color:red
}

.bgc-brown{
    background-color:brown
}
/* 测试用 ↑↑↑*/

/* 全局 ↓↓↓ */

body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; font-size:11px;}

/*--------------清除栅栏布局中的pandding以及margin*/
.container,div[class|="col"] {/*属性class等于col或以col-开头的所有元素*/
    padding: 0;
}

div.row{
    margin:0
}
/*--------------清除栅栏布局中的pandding以及margin*/

.glyphicon-triangle-right img{
    max-height:2px;
}

embed {
    display: block;
}

marquee {
    display:block
}

ul.nav-pills li p{
    padding:0;
    margin:0
}

ul.nav-pills li a{
    padding:0;
    margin:0;
}

.table tr td{
    text-align:left;
    white-space:nowrap;
}

.list-group{
    padding:0;
    margin:0;
    
}

.list-group a{
    padding:0;
    margin:0;border:none
}

.carousel{
    height:100%;
}

.carousel .carousel-indicators{
    margin-top:0;
}

 .carousel .item {
    padding:0;
    margin:0;
}

.carousel .carousel-caption{
    padding:0;
    margin:0;
    height:17px;
}

/* 全局 ↑↑↑ */

marquee.sw-mq {
    background-color:#E9E9E9;
    height:23px;
    padding-top:3px;
    border-bottom:2px solid #D8D8D8
}

.sw-label{
    padding:0;
    margin:0;
    font-weight:normal;
    margin-left:3px;
    font-size:7pt;
    height:7px;
    line-height:7px;
    background-color:#FF6500
}

.sw-form{
    padding:0;
    margin:0;
}

.sw-form .form-group{
    margin:0;
    padding:0;
    margin-top:5px;
}

.sw-form .form-group label{
    font-weight:normal;
    height:23px;
    line-height:23px;
    padding:0;
    padding-right:5px;
}

.sw-form .form-group input{
    height:23px;
    font-size:9px;
    padding:3px;
}

.sw-form .form-group button{
    height:23px;
    padding:0;
    font-size:9px;
    padding:2px 3px 2px 3px;
}

div.sw-lftNav {
    background-color:#9CAAD6;
    height:1543px
}

div.sw-rightContent{
    padding:0 0 0 10px;
}

/*sw-hydtRow ↓↓↓*/

div.sw-hydtRow {
    margin-top:20px;
}

div.sw-hydtRow > div[class|="col"]{
    height:224px;
}

div.sw-hydtRow .leftTitleRow > div[class|="col"]{
    height:28px;
}

div.sw-hydtRow .leftImgRow > div[class|="col"]{
    height:195px;
    padding-top:6px;
}

div.sw-hydtRow .leftImgRow > div[class|="col"] img{
    width:98%
}

div.sw-hydtRow .rightContentRow{
    height:195px;
}

div.sw-hydtRow .rightCol{
    padding:0 0 0 12px;
}

div.sw-hydtRow .rightTitleRow > div[class|="col"]{
    height:28px;
    border-bottom:1px solid #DE5521;
}

div.sw-hydtRow .rightTitleRow > div[class|="col"] img{
    padding-top:7px;
}

div.sw-hydtRow .rightContentRow th{
    width:10px;
}

div.sw-hydtRow .rightContentRow tbody > tr > th{
    border-top-style:dotted
}

div.sw-hydtRow .rightContentRow tbody > tr > td{
    border-top-style:dotted
}

div.sw-hydtRow .rightContentRow td:last-child{
    text-align:center;
    width:100px;
}

div.sw-hydtRow {
    border-bottom:1px solid #D8D8D8
}

/*sw-hydtRow ↑↑↑ */

/*sw-TableRowOne ↓↓↓*/

div.sw-TableRowOne {
    margin-top:20px;
}

div.sw-TableRowOne ul.nav-pills li{
    width:33%;
}

div.sw-TableRowOne ul.nav-pills > li > a{
    padding:4px 0 4px 10px;
}

div.sw-TableRowOne ul.nav-pills > li > a > p{
    border-left:4px solid #000;
    padding-left:6px;
    white-space:nowrap;
}

div.sw-TableRowOne ul.nav-pills > li > a > p > strong {
    color:#808080;
    font-weight:normal;
}

div.sw-TableRowOne ul.nav-pills > li:nth-child(1) > a > p > strong{
    padding-left:42px;
}

div.sw-TableRowOne ul.nav-pills > li:nth-child(2) > a > p > strong{
    padding-left:54px;
}

div.sw-TableRowOne ul.nav-pills > li:nth-child(3) > a > p > strong{
    padding-left:63px;
}

div.sw-TableRowOne ul.nav-pills > li:nth-child(1) > a > p{
    color:#DF8A1F;
    border-left-color:#DF8A1F;
}

div.sw-TableRowOne ul.nav-pills > li.active:nth-child(1) > a{
    background-color:#DF8A1F
}

div.sw-TableRowOne ul.nav-pills > li:nth-child(2) > a > p{
    color:#B8C754;
    border-left-color:#B8C754;
}

div.sw-TableRowOne ul.nav-pills > li.active:nth-child(2) > a{
    background-color:#B8C754
}

div.sw-TableRowOne ul.nav-pills > li:nth-child(3) > a > p{
    color:#3A9AC4;
    border-left-color:#3A9AC4;
}

div.sw-TableRowOne ul.nav-pills > li.active:nth-child(3) > a{
    background-color:#3A9AC4
}

div.sw-TableRowOne ul.nav-pills > li.active > a > p{
    color:#fff;
    border-left-color:#fff;
}

div.sw-TableRowOne ul.nav-pills > li.active > a > p > strong{
    color:#fff;
}

div.sw-TableRowOne > div[class|="col"] div.tab-pane{
    height:250px;
}

div.sw-TableRowOne .tab-content th{
    width:10px;
}

div.sw-TableRowOne .tab-content tbody > tr > th{
    border-top-style:dotted
}

div.sw-TableRowOne .tab-content tbody > tr > td{
    border-top-style:dotted
}

div.sw-TableRowOne .tab-content td:last-child{
    text-align:center;
    width:100px;
}

div.sw-TableRowOne .tab-content tr:last-child th{
    border-bottom:1px solid #D8D8D8
}

div.sw-TableRowOne .tab-content tr:last-child td{
    border-bottom:1px solid #D8D8D8
}
/*sw-TableRowOne ↑↑↑*/

/*sw-TableRowTwo ↓↓↓*/

div.sw-TableRowTwo {
    margin-top:20px;
}
div.sw-TableRowTwo ul.nav-pills li{
    width:33%;
}

div.sw-TableRowTwo ul.nav-pills > li > a{
    padding:4px 0 4px 10px;
}

div.sw-TableRowTwo ul.nav-pills > li > a > p{
    border-left:4px solid #000;
    padding-left:6px;
    white-space:nowrap
}

div.sw-TableRowTwo ul.nav-pills > li > a > p > strong{
    color:#808080;
    font-weight:normal
}

div.sw-TableRowTwo ul.nav-pills > li:nth-child(1) > a > p > strong{
    padding-left:50px;
}

div.sw-TableRowTwo ul.nav-pills > li:nth-child(2) > a > p > strong{
    padding-left:6px;
}

div.sw-TableRowTwo ul.nav-pills > li:nth-child(3) > a > p > strong{
    padding-left:58px;
}

div.sw-TableRowTwo ul.nav-pills > li:nth-child(1) > a > p{
    color:#84ACDB;
    border-left-color:#84ACDB;
}

div.sw-TableRowTwo ul.nav-pills > li.active:nth-child(1) > a{
    background-color:#84ACDB
}

div.sw-TableRowTwo ul.nav-pills > li:nth-child(2) > a > p{
    color:#F68F55;
    border-left-color:#F68F55;
}

div.sw-TableRowTwo ul.nav-pills > li.active:nth-child(2) > a{
    background-color:#F68F55
}

div.sw-TableRowTwo ul.nav-pills > li:nth-child(3) > a > p{
    color:#8DC73F;
    border-left-color:#8DC73F;
}

div.sw-TableRowTwo ul.nav-pills > li.active:nth-child(3) > a{
    background-color:#8DC73F
}

div.sw-TableRowTwo ul.nav-pills > li.active > a > p{
    color:#fff;
    border-left-color:#fff;
}

div.sw-TableRowTwo ul.nav-pills > li.active > a > p > strong{
    color:#fff;
}

div.sw-TableRowTwo > div[class|="col"] div.tab-pane{
    height:250px;
}

div.sw-TableRowTwo .tab-content th{
    width:10px;
}

div.sw-TableRowTwo .tab-content tbody > tr > th{
    border-top-style:dotted
}

div.sw-TableRowTwo .tab-content tbody > tr > td{
    border-top-style:dotted
}

div.sw-TableRowTwo .tab-content td:last-child{
    text-align:center;
    width:100px;
}

div.sw-TableRowTwo .tab-content tr:last-child th{
    border-bottom:1px solid #D8D8D8
}

div.sw-TableRowTwo .tab-content tr:last-child td{
    border-bottom:1px solid #D8D8D8
}
/*sw-TableRowTwo ↑↑↑*/

/*sw-wsbs ↓↓↓*/

div.sw-wsbs{
    padding-top:20px;
}

div.sw-wsbs > div[class|="col"]{
    height:220px;
}

div.sw-wsbs .leftContent .titleRow > div[class|="col"]{
    height:28px;
}

div.sw-wsbs .leftContent .titleRow > div[class|="col"]:nth-child(2){
    text-align:right;
}

div.sw-wsbs .leftContent .titleRow > div[class|="col"]:nth-child(3){
    height:27px;
    line-height:27px;
    text-align:left;
    border-bottom:1px solid #37C1B2;
}

div.sw-wsbs .leftContent .titleRow > div[class|="col"]:nth-child(3) > img{
    padding-left:15px;
}

div.sw-wsbs .leftContent .contentRow> div[class|="col"]{
    height:192px;
}

div.sw-wsbs .leftContent .contentRow > div[class|="col"]:nth-child(1){
    line-height:192px;
    text-align:center;
}

div.sw-wsbs .leftContent .list-group{
    padding-top:53px;
    padding-right:20px;
}

div.sw-wsbs .leftContent .list-group a{
    padding-left:15px;
    height:23px;
    line-height:23px;
}

div.sw-wsbs .rightContent .titleRow > div[class|="col"]{
    height:38px;
    text-align:right
}

div.sw-wsbs .rightContent .titleRow > div[class|="col"] > img{
    height:38px;
}

div.sw-wsbs .rightContent .contentRow > div[class|="col"]{
   height:182px;
}


div.sw-wsbs .rightContent .contentRow  .carousel .carousel-indicators{
    margin-bottom:-5%;   
    height:15px;
}

div.sw-wsbs .rightContent .contentRow  .carousel .carousel-indicators li{
    background-color:#4B0069
}

div.sw-wsbs .rightContent .contentRow  .carousel .item {
    padding-top:5%;
    padding-left:17%;
    height:182px;
}

div.sw-wsbs .rightContent .contentRow  .carousel .carousel-caption{
    color:#4B0069;
}

/*sw-wsbs ↑↑↑*/

/*sw-bbsRow ↓↓↓*/

div.sw-bbsRow {
    margin-top:10px;
}

div.sw-bbsRow > div[class|="col"]{
    height:224px;
}

div.sw-bbsRow .leftTitleRow > div[class|="col"]{
    height:28px;
}

div.sw-bbsRow .leftLoginRow > div[class|="col"]{
    height:195px;
    padding-top:6px;
    background:url(memberbbs_login.jpg) no-repeat center
}

div.sw-bbsRow .leftLoginRow > div[class|="col"] .sw-form{
    margin-top:73px;
    margin-left:55px
}

div.sw-bbsRow .leftLoginRow > div[class|="col"] .sw-form label{
    color:#fff;
}

div.sw-bbsRow .rightContentRow{
    height:195px;
}

div.sw-bbsRow .rightCol{
    padding:0 0 0 12px;
}

div.sw-bbsRow .rightTitleRow > div[class|="col"]{
    height:28px;
    border-bottom:1px solid #C7AE30;
}

div.sw-bbsRow .rightTitleRow > div[class|="col"] img{
    padding-top:7px;
}

div.sw-bbsRow .rightContentRow th{
    width:10px;
}

div.sw-bbsRow .rightContentRow tbody > tr > th{
    border-top-style:dotted
}

div.sw-bbsRow .rightContentRow tbody > tr > td{
    border-top-style:dotted
}

div.sw-bbsRow .rightContentRow td:last-child{
    text-align:center;
    width:100px;
}



/*sw-bbsRow ↑↑↑ */

div.sw-appRow > div[class|="col"]{
    height:240px;
}

div.sw-friendlyLinkRow > div[class|="col"]{
    height:100px;
}